{% extends "layout.html" %}

{% block body %}

<div class="container-foto">
    <div class="container-form rounded">
        <h1>Books & More</h1>
        <form class="justify-content-center" action="{{ url_for('registerUser') }}" method="post">
            <ul class="list">
                <li><input class="input-form" type="text" name="user" placeholder="New Name"></li>
                <li><input class="input-form" type="password" name="pass" placeholder="New Password"></li>
                <li><input class="input-form" type="password" name="pass2" placeholder="Repeat Password"></li>
                <li><button class="button rounded" type="submit">Register</button></li>
            </ul>
            <p class="center">{{ message }}</p>
        </form>
    </div>
</div>

{% endblock %}
